<div id="article-banner">
  <h2><%= __('projects_page') %></h2>
</div>
<main class="app-body project-app">
  <div class="card-container" id="all-project">
  </div>
</main>
<script>
  (function() {
    <% let user = config.github_username || 'rhcad'; %>
    setTimeout(function() {
      NProgress.done();
    }, 5000);
    $(function() {
      $.ajax({
        headers: {
          Accept: 'application/vnd.github.v3.raw'
        },
        type: 'get',
        url: 'https://api.github.com/users/<%= user %>/repos',
        success: function(data) {
          var skip_forks = <%= config.skip_forks !== false %>;
          var repos = data.filter(function(p) {
            return !(skip_forks && p.fork) && p.name.indexOf('.github.io') < 0;
          }).sort(function(a, b) {
            return (b.stargazers_count - a.stargazers_count);
          }).slice(0, 12);
          NProgress.done();

          var cardHtml = repos.map(function(item) {
            return (
                    '<section class="project-card">' +
                    '  <a class="card-wrap">' +
                    '    <div class="card-header" data-name="' + item.name + '"></div>' +
                    '    <h3 class="card-title">' + item.name + '</h3>' +
                    '    <p class="card-description">' + item.description + '</p>' +
                    '    <div class="card-footer">' +
                    '      <span><i class="fa fa-star"></i>' + item.stargazers_count + '</span>' +
                    '      <span><i class="fa fa-code-fork"></i>' + item.forks_count + '</span>' +
                    '    </div>' +
                    '  </a>' +
                    '</section>'
            );
          }).join('');
          $('#all-project').html(cardHtml);
          $('.card-header').each(function() {
            var name = $(this).data('name');
            $(this).geopattern(name);
          });
        }
      });
    });
  })();
</script>