// colors
color-default = #555
color-primary = #42b983
color-border = #e5e5e5
color-link = #258fb8
color-white = #ffffff
color-background = #f3f3f3
color-orange = #e96900
color-dark = #34495e
color-gray = #7f8c8d
color-shadow = #e3e3e3

// images
logo-url = "images/logo.png"
wechat-url = "images/wechat.jpg"
alipay-url = "images/alipay.jpg"

m-mobile = "screen and (max-width: 540px)"
m-pad = "screen and (max-width: 720px)"

font-hei = SimHei, Microsoft YaHei, STHeiti, Lantinghei SC, WenQuanYi Micro Hei, Arial, Open Sans, SimSun,sans-serif
font-kai = Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW\-Kai", serif
