@import "_config"
@font-face
  font-family: 'Source Sans Pro'
  src: url('../fonts/SourceSansPro.ttf')

::selection
  background: color-primary
  color: color-white

::-webkit-scrollbar
  display: none

html
  height: 100%
  margin: 0

body
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: none
  position: relative
  height: 100%
  margin: 0
  overflow-x: hidden
  color: color-dark
  background-color: color-background
  font-size: 16px
  @media m-mobile
    font-size: 15px

ol, ul, form, p
  margin: 0

a
  text-decoration: none
  color: color-primary
  cursor: pointer

p
  word-spacing: 0.05em

pre
  overflow-x: auto

.app-body-wrapper
  padding: 0.4em

.app-body
  padding: 1em
  margin: 0.5em auto
  max-width: 900px
  position: relative
  opacity: 0
  transform: translateY(-20px)
  transition: all 0.3s
  .abstract
    margin: 15px 0
    font-family: font-kai
    font-size: 1.05em
    color: color-default
  .post-article > :last-child
    margin-bottom: 0
  &:not(.home-page):not(.project-app)
    background-color: color-white
    border-radius: 4px
    box-shadow: 1px 1px 2px 2px color-shadow
  @media m-mobile
    max-width: 100%
    padding: 0.5em

.hljs
  background: none !important

.tags
  margin: 15px 0
  span
    &:first-child
      margin-right: 10px
      font-weight: 600

.tag-code, .category-link
  font-family: 'Roboto Mono', Monaco, courier, monospace
  font-size: .8em
  display: inline-block
  background-color: color-background
  color: color-orange
  padding: 3px 5px
  margin: 0 5px 5px 0
  border-radius: 2px
  white-space: nowrap
  .desktop &:hover
    color: color-dark

.article-card
  padding: 20px
  background-color: color-white
  border-radius: 4px
  box-shadow: 1px 1px 2px 2px color-shadow
  & + &
    margin-top: 30px
  @media m-mobile
    padding: 12px

h2.article-head
  font-size: 1.6em
  margin: 0

.article-head > a
  color: color-dark
  .desktop &:hover
    border-bottom: 2px solid color-primary

.article-date
  color: color-gray
  margin: 10px 0
  font-size: 0.9em
  span
    margin-right: 8px

.article-thumbnail
  img
    max-height: 120px
    max-width: 100%

.article-summary
  margin: 10px 0
  color: color-dark

.more
  font-weight: 600
  display: inline-block
  transition: all 0.3s
  .desktop &:hover
    color: color-dark
    transform: translateX(5px)

.no-banner
  height: 60px
#article-banner
  width: 100%
  box-sizing: border-box
  opacity: .75
  top: 0
  left: 0
  padding: 45px 20px 15px 20px
  text-align: center
  position: relative
  @media m-mobile
    padding: 45px 10px 10px 10px
  h2, h3
    margin: 0.4em 0
    font-size: 2em
    font-family: font-hei
    color: color-white
    text-shadow: 0 0 40px color-dark
    opacity: 0
    transform: translateY(-20px)
    transition: all 0.4s
    @media m-mobile
      font-size: 1.6em
    &::selection
      background: color-white
      color: color-dark
  .post-date
    margin: 10px 0
    color: color-white
    opacity: 0
    transform: translateY(-20px)
    transition: all 0.4s
    transition-delay: 0.05s
    &::selection, span::selection
      background: color-white
      color: color-dark
    span
      margin-right: 8px
    a
      color: color-white
    small
      color: #ccc
    &.categories
      max-height: 50px
      overflow-y: hidden
  h3
    font-size: 1.8em
    @media m-mobile
      font-size: 1.4em
  .category-link
    background-color: transparent
  .article-date
  .category-link
    color: color-white
    &::selection
      background: color-white
      color: color-dark

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-gray
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.desktop .category-link:hover
  text-decoration: underline
.category-list
  list-style: none
  padding-left: 20px
  a
    line-height: 1.2em
    font-size: 1.2em
    margin-bottom: 8px
    display: inline-block
    color: color-dark
    transition: background .5s
    .desktop &:hover
      color: color-gray
  ul a
    line-height: 1.05em
    font-size: 1.05em
  ul ul a
    line-height: .9em
    font-size: .9em

.money-like
  padding: 1em 0
  .reward-btn
    cursor: pointer
    font-size: 1.6em
    line-height: 2em
    position: relative
    display: block
    width: 2em
    height: 2em
    margin: 0 auto
    padding: 0
    text-align: center
    vertical-align: middle
    color: color-white
    border: 1px solid #f1b60e
    border-radius: 50%
    background: linear-gradient(to bottom, #fccd60 0, #fbae12 100%, #2989d8 100%, #207cca 100%)
  .money-code
    position: absolute
    top: -7em
    left: 50%
    display: none
    width: 10.5em
    height: 5.5em
    margin-left: -5.9em
    padding: 10px 15px
    border: 1px solid color-border
    background: color-white
    box-shadow: 0 1px 1px 1px color-border
    border-radius: 4px
    span
      display: inline-block
      width: 4.5em
      height: 4.5em
    .alipay-code
      float: left
      .code-image
        background-image: url(alipay-url)
        background-size: contain
        background-repeat: no-repeat
        width: 4.5em
        height: 4.5em
    .wechat-code
      float: right
      .code-image
        background-image: url(wechat-url)
        background-size: contain
        background-repeat: no-repeat
        width: 4.5em
        height: 4.5em
    b
      font-size: .5em
      line-height: 24px
      display: block
      margin: 0
      text-align: center
      color: color-dark

.notice
  font-size: 12px
  display: block
  margin: 10px 0
  text-align: center
  color: color-gray
  font-style: italic
  span
    word-break: keep-all

.qrcode
  padding-bottom: 10px
  text-align: center
  @media m-pad
    display: none
  canvas
    width: 8em
    height: 8em
    padding: 5px
    box-shadow: 0 0 1px color-shadow

.image-view-wrap
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 1000
  transition: all 0.3s ease-in-out
  text-align: center
  color: red
  line-height: 30
  .image-view-inner
    position: relative
  img
    display: block
    margin: 0 auto
    cursor: zoom-out
    transition: all 0.3s ease-in-out

.wrap-active
  background-color: rgba(255, 255, 255, .9)

.scroll-top
  cursor: pointer
  opacity: 0
  position: fixed
  box-sizing: border-box
  right: 2em
  bottom: 45px
  padding: 5px
  background-color: color-primary
  border-radius: 4px
  transition: opacity .5s ease
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 3px 3px 0 rgba(0,0,0,.24)
  i
    font-size: 24px;
    padding: 0 2px 4px;

.opacity
  opacity: 0.25
  .desktop &:hover
    opacity: 1

@keyframes shine
  0%, 100%
    opacity: .1
  25%, 75%
    opacity: .2
  50%
    opacity: 1

.desktop
  input[type=file]
  button
    cursor: pointer

@import "_partial/header"
@import "_partial/footer"
@import "_partial/pager"
@import "_partial/markdown"
@import "_partial/tags"
@import "_partial/archive"
@import "_partial/about"
@import "_partial/project"
@import "_partial/search"
@import "_partial/share"
