<% if (tags && tags.length) { %>
  <i class="fa fa-tags" aria-hidden="true"></i>
  <% tags.each(function(tag) { %>
    <a class="tag-code" href="<%= url_for('tags/' + tag.name) %>">
       <%= tag.name %>
    </a>
  <% }) %>
<% } %>