<% for (var n in menu) {
  if (typeof menu[n] === 'string' && ['tags', 'categories'].indexOf(n) < 0 || menu[n].url) {
    if (level > 0 && menu[n].url) {}
    else if (level > 0) { %>
      <%- partial('menu-item', { menu: menu, name: n }) %>
    <% } else { %>
      <li class="menu-item">
        <%- partial('menu-item', { menu: menu, name: n }) %>
      </li>
    <% }
  } else if (menu[n] && typeof menu[n] === 'object') { %>
    <li class="menu-item">
      <%- partial('menu', { menu: menu[n], level: level + 1 }) %>
    </li>
  <% }
} %>