.app-footer
  padding: 1em 0
  margin: 0 auto
  border-top: 1px solid color-border
  background-color: color-white
  text-align: center
  font-size: 0.9em
  @media m-mobile
    font-size: 0.85em

  .copyright
    *:not(:first-child):before
      content: "•"
      padding: 0 8px
      color: color-gray
      @media m-mobile
        padding: 0 4px
  .powered-by
    span:not(:first-child):before
      content: "|"
      padding: 0 8px
      color: color-gray

.fixed-footer
  position: fixed
  bottom: 0
  width: 100%
