#uyan_frame
  margin-bottom: -62px

.app-body:not(.about-app)
  overflow-y: hidden

.jiathis_style
  .centerBottom
  .ckepopBottom
    display: none

.jiathis_shares > .jiathis_txt
  margin-bottom: 10px