.clip-height:not(.about-app)
  overflow-y: hidden
  #uyan_frame
    margin-bottom: -62px

.jiathis_style
  .centerBottom
  .ckepopBottom
    display: none

#jia_shares
  display: none
  .jiathis_txt
    margin-bottom: 10px
