.tool-app
  max-width: 1020px
  min-height: calc(100% - 60px - 68px - 48px)
  #content
    min-height: 100%

  &.full-page.editing
    max-width: 100%
    #content
      position: fixed
      top: 0
      left: 0
      width: 100%

.visit-info
  display: none
